<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Simple Todo App
      </p>
      <p class="subtitle">
        Developed with NGRX
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">New TODO</h2>
    <app-todo-form></app-todo-form>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">Todo list <app-todo-counter></app-todo-counter></h2>
    <hr>
    <app-todo-list
    [todos]="todos$"
    (todoSelected)="deleteTodo($event)"></app-todo-list>
  </div>
</section>
